extends layout

block content
  h1= title
  p Welcome to #{title}

  button(type='button') Add book
  .wrapper
    for book in books
      .bookContainer
        img(class=`image${book.id}` src=book.image_url)
        p.title=book.title
        p.author=book.author
